body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerPost {
    background-color: rgb(187, 195, 202);
    height: 45px;
}
.displayMenu{
    background-color: rgb(15, 168, 214);
    margin-top: 45px;
}

.vistaHorizontalD {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.vistaHorizontalI {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}
.fa-instagram {
    font-size: 1.5em;
    padding: 0 3px 2px 3px;
}
.dropdown {
    margin: 0 3px 0 3px;
}
.salir {
    color: red;
}
img {
    width: 45%;
    height: auto;
}
.post{
    background-color: bisque;
}
.espacioInterior {
    height: 50px;
}